@charset "utf-8";
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 500;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

body { font-family: 'NanumBarunGothic', sans-serif; margin:0px auto; padding:0px; color:#333;} 
article, aside, details, figcaption, figure, hgroup, menu, nav, section {display:block;}
table{border-collapse:collapse;border-spacing:0;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,th,td,input, textarea{font-family:'NanumBarunGothic'; font:'NanumBarunGothic', sans-serif; font-size:11pt; font-weight:300; color:#333;}
img,fieldset{border:0;}
ul,ol,li{list-style:none;}
img,input,select,textarea{vertical-align:middle;}
a{color:#444; text-decoration:none;}
a:hover{color:#FF4141; text-decoration:underline; }
em, address{font-style:normal;}
i{font-style:normal;}
input:focus,
textarea:focus,
button:focus,
select:focus{outline:none;}
label{}
input::-webkit-input-placeholder{color:#777;}
input:-moz-placeholder{color:#777;}
input::-moz-placeholder{color:#777;}
textarea::-webkit-input-placeholder{color:#777;}
textarea:-moz-placeholder{color:#777;}
textarea::-moz-placeholder{color:#777;}
input[type=text]::-ms-clear { display: none; }
input[type=checkbox],
input[type=radio]{position:relative; width:13px; height:13px; left:0; top:0; *margin-right: 3px;}
button::-moz-focus-inner{border:0; padding:0;}

.ui-widget-content { border:0px; background:rgba(0, 0, 0, 0.7); color:#FFF; }
.ui-widget-header { border:0px; background:transparent; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border:0px; background:transparent; font-weight:300; color:#FFF; text-align:center; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size:10pt; }
.ui-datepicker th { padding:6px 0px; font-weight:300; border:0px; color:#FFF; border-top:1px solid #666; border-bottom:1px solid #666; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image:url("images/ui-icons_ffffff_256x240.png"); }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border:0px; background:transparent; }

.ui-timepicker-standard { border:0px; background-color:transparent; font-size:10pt; font-family:'NanumBarunGothic'; }
.ui-timepicker-container { z-index:9999; }
.ui-timepicker-standard a { color:#FFF; padding:5px 0px; margin:0px auto; }
.ui-menu-item .ui-state-hover { color:#FFF; font-weight:normal; margin:0px auto; padding:5px 0px; }
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th { border-bottom-width:1px; }
.table>thead>tr>th { border-bottom:1px solid #DDD; }

header { position:relative; border-bottom:1px solid #AAA; padding:15px 2%; text-align:right; }
header .bridge-menu { position:relative; display:inline-block; }
header .bridge-menu .birdge-menu-item { color:#333; margin:0px auto; margin-left:10px; display:inline-block; cursor:pointer; }
header .bridge-menu .birdge-menu-item:hover { text-decoration: underline; }
header .bridge-logo { float:left; cursor:pointer; }

.bridge-bg-layer { position:fixed; top:0px; left:0px; width:100%; height:100%; background:rgba(0, 0, 0, 0.8); z-index:10; display:none; }
.bridge-container { width:100%; margin:0px auto; padding:0px; }
.bridge-container .bridge-content { padding:10px; }

.input { border:0px; border-radius:0px; font-size:11pt; padding:15px 8px; border-bottom:1px solid #888; width:100%; height:auto; background-color:#FFF; border-radius:0px; }
.input::placeholder { color:#AAA; }
.input:focus { border-bottom:1px solid #FF5555; }
.input[readonly],.input:read-only { background-color:#F1F1F1; }
.input.half { width:45%; }
.input.half:first-child { margin-right:2%; }
.textarea { width:100%; font-size:11pt; border:1px solid #888; border-radius:0px; }

.bridge-btn { position:relative; display:inline-block; color:#444; border:1px solid #444; border-radius:25px; padding:8px 15px; cursor:pointer; }
.bridge-btn.bridge-btn-sm { padding:2px 10px; }
.bridge-btn:hover { background-color:#F1F1F1; }

.bridge-horizon-table { width:100%; position:relative; margin-top:10px;}
.bridge-horizon-table thead tr { }
.bridge-horizon-table thead tr th { border-left:0px; padding:12px 0px; text-align:center; font-size:11pt; font-weight:500; color:#333; background-color:#F1F1F1; }
.bridge-horizon-table thead tr th:last-child { border-right:0px; }
.bridge-horizon-table tbody tr td { padding:12px 0px; position:relative; color:#333; border-bottom:1px solid #DDD; text-align:center; }
.bridge-horizon-table tbody tr td.half { width:50%; }
.bridge-horizon-table tbody tr:first-child td { border-top:1px solid #DDD; }
.bridge-horizon-table tbody tr td:first-child { text-align:center; border-left:0px; }
.bridge-horizon-table.bridge-horizon-table-hover tbody tr:hover { background-color:#F9F9F9; }

.bridge-popup-container { width:800px; height:auto; position:fixed; top:10%; left:50%; margin-left:-400px; z-index:11; background-color:#FFF; display:none; }
.bridge-popup-container .bridge-popup-header { padding:15px 0px; text-align:center; font-size:12pt; color:#333; font-weight:700; border-bottom:1px solid #AAA; z-index:2; }
.bridge-popup-container .bridge-popup-body { position:relative; text-align:center; padding:15px 10px; padding-bottom:53px; }
.bridge-popup-container .bridge-popup-footer { position:absolute; border-top:1px solid #AAA; bottom:0px; left:0px; width:100%; z-index:2; }
.bridge-popup-container .bridge-popup-footer .bridge-popup-btn { position:relative; padding:15px 0px; width:50%; font-size:12pt; color:#333; background-color:#FFF; text-align:center; cursor:pointer; }
.bridge-popup-container .bridge-popup-footer .bridge-popup-btn:hover { background-color:#F1F1F1; }
.bridge-popup-container .bridge-popup-footer .bridge-popup-btn.cancel { position:absolute; right:0px; top:0px; z-index:1; border-left:1px solid #AAA; }

.bridge-vertical-table { width:100%; position:relative; margin-top:10px;}
.bridge-vertical-table tr th { padding:15px 10px; text-align:left; font-size:11pt; font-weight:500; color:#333; vertical-align:middle; }
.bridge-vertical-table tr td { padding:15px 10px ; position:relative; color:#333; vertical-align:middle; text-align:left; }

.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.vertical-top { vertical-align:top; }
.vertical-middle { vertical-align:middle; }

.bridge-title { padding:25px 10px; margin:0px auto; text-align:left; font-size:16pt; font-weight:700; color:#333; }

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position:absolute;
    bottom:100%;
    margin-bottom:2px;
    left:50%;
    width:80px;
    margin-left:-40px;
    text-align:center;
    padding:5px 0px;
    background:rgba(0, 0, 0, 0.68);
    color:#FFF;
    font-size:8pt;
    z-index:10;
    border-radius:5px;
}

@media screen and (max-width: 740px){
    body,h1,h2,h3,h4,th,td,input, textarea { font-size:10pt; }
    .input { font-size:9pt; padding:8px 0px; }
    .bridge-btn { padding:8px 12px; }
    .bridge-popup-container { width:100%; left:0px; top:0px; margin-left:0px; height:100%; border-radius:0px; }
}
