.container {
  padding-left: 5px;
  padding-right: 5px;
}

h4 {
  margin-top: 25px;
}
.row {
  
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding:0px;
  position:relative;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}