<style>
	.search-container { margin:10px 0px; }
	.table thead tr th { font-weight:700; vertical-align:middle; }
	.table tbody tr td { vertical-align:middle; }
	.pager { margin:0px auto; display:inline-block; }
	.booking-item { border-radius:4px; padding:5px; font-size:9pt; float:left; }
	.booking-item.yanolja { background-color:pink; }
</style>
<?
	$dateName = array('일','월','화','수','목','금','토');

	$dateCount = 5;
	if($dateCount > 5){
		$dateCount = 5;
	}
	$dateArray = array();
	for($i=0; $i< $dateCount; $i++){
		array_push($dateArray, date('Y-m-d', strtotime('+ '.$i.'day')));
	}
	$roomLists = array('스텐다드1','스텐다드2','스텐다드3','디럭스1','디럭스2','디럭스3','패밀리1','패밀리2','패밀리3');
?>
<div class="col-md-12 text-right search-container">
	<div class="pull-left col-md-3">
		<div class="input-group">
			<input type="text" class="form-control datepicker" value="<?=date('Y-m-d') ?>" />
      		<span class="input-group-btn">
        		<button class="btn btn-default" type="button">검색</button>
      		</span>
    	</div>
	</div>
	<ul class="pager">
		<li class="previous"><a href="#">&larr; 이전</a></li>
		&nbsp;<li class="next"><a href="#">다음 &rarr;</a></li>
	</ul>
</div>
<table cellpadding="0" cellspacing="0" class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>#</th>
	<?
		for($i=0; $i< count($dateArray); $i++){
	?>
			<th>
				<?=date('m.d', strtotime($dateArray[$i])) ?> (<?=$dateName[date('w', strtotime($dateArray[$i]))] ?>)
			</th>
	<?
		}
	?>
		</tr>
	</thead>
	<tbody>
		<? for($room=0; $room < count($roomLists); $room++){ ?>
			<tr>
			<td><?=$roomLists[$room] ?></div>
			<?
				for($i=0; $i< count($dateArray); $i++){
			?>
					<td>
						<div class="booking-item">12-17</div>
					</td>
			<?
				}
			?>
			</tr>
		<? } ?>
	</tbody>
</table>
<div class="col-md-12">
	<div class="col-md-7">
		<table cellpadding="0" cellspacing="0" class="table table-hover">
			<thead>
				<tr class="active">
					<th colspan="4">플랫폼별 판매 현황</th>
				</tr>
				<tr class="">
					<th>채널명</th>
					<th>객실명</th>
					<th>대실</th>
					<th>숙박</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>야놀자</td>
					<td>스텐다드1</td>
					<td><span class="badge">4</span></td>
					<td><span class="badge">10</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-4">
		<table cellpadding="0" cellspacing="0" class="table table-hover col-md-5">
			<thead>
				<tr class="active">
					<th colspan="2">숙박 시간 현황</th>
				</tr>
				<tr class="">
					<th>객실명</th>
					<th>시간</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>스텐다드1</td>
					<td>20:00</td>
				</tr>
				<tr>
					<td>스텐다드2</td>
					<td>22:00</td>
				</tr>
				<tr>
					<td>스텐다드3</td>
					<td>20:00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>