<form id="setForm">
    <input type="hidden" name="index" id="index" value="<?=$info['place_site_index'] ?>" />
    <table cellspacing="0" cellpadding="0" class="bridge-vertical-table">
        <tr>
            <th>숙소명</th>
            <td>
                <input type="text" name="name" id="name" class="input" value="<?=$info['place_site_name'] ?>" placeholder="숙소명칭" />
            </td>
        </tr>
        <tr>
            <th>우편번호</th>
            <td>
                <input type="text" name="zip" id="zip" class="input half" value="<?=$info['place_site_zip'] ?>" placeholder="우편번호" readonly />
                <div class="bridge-btn address-search-btn">주소 검색</div>
            </td>
        </tr>
        <tr>
            <th>주소</th>
            <td>
                <input type="text" name="address" id="address" class="input" value="<?=$info['place_site_address'] ?>" placeholder="주소" readonly />
            </td>
        </tr>
        <tr>
            <th>상세주소</th>
            <td>
                <input type="text" name="addressDetail" id="addressDetail" class="input" value="<?=$info['place_site_addressDetail'] ?>" placeholder="상세주소" />
                <input type="hidden" name="latitude" id="latitude" value="<?=$info['place_site_latitude'] ?>" />
                <input type="hidden" name="longitude" id="longitude" value="<?=$info['place_site_longitude'] ?>" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="addressMaps" style="width:100%; height:220px;"></div>
            </td>
        </tr>
    </table>
</form>
<div id="addressSearchLayer" style="width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:-1; overflow:auto;"></div>
<script>
    lon = <?=$info['place_site_longitude'] ?>;
    lat = <?=$info['place_site_latitude'] ?>;
</script>