<style>
    .bridge-search-container { position:relative; padding:10px 0px; }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.bridge-popup-btn').click(function(){
            if($(this).hasClass('cancel')){
                $('.bridge-popup-container').hide();
                $('.bridge-bg-layer').hide();
            }else{
                var index = $("#index").val();
                var url = "/places/"+index+"/info";
                var method = "POST";
                if(parseInt(index) > 0){
                    method = "PATCH";
                }
                $.ajax({
                    type: method,
                    url: url,
                    data: $('#setForm').serialize(),
                    complete: function(event){
                        if(event.status == 204){
                            alert('저장');
                            location.reload();
                        }else{
                            alert("["+event.statusText+"] 에러");
                            return false;
                        }
                    }
                });
            }
        });

        $('.place-setting-btn').click(function(){
            var index = $(this).attr('data-index');
            var url = "/places/"+index+"/info";
            $.ajax({
                type: "GET",
                url: url,
                complete: function(event){
                    if(event.status == 200){
                        $('.bridge-popup-body').html(event.responseText);
                        $('.bridge-popup-container').show();
                        $('.bridge-bg-layer').show();
                        $('.bridge-popup-body').css({'padding-bottom': $('.bridge-popup-footer').height()});
                        mapSettings();
                    }else{
                        alert("["+event.statusText+"] 에러");
                        return false;
                    }
                }
            });
        });

        $('.room-setting-btn').click(function(){
            var index = $(this).attr('data-index');

            location.href='/places/'+index+'/roomtypes';
        });

        $('.price-setting-btn').click(function(){
            var index = $(this).attr('data-index');

            location.href='/places/'+index+'/price';
        });
    });

    $(document).on('click', '.address-search-btn', function(){
        $('#addressSearchLayer').css('z-index','1');
        daumAddressSearch();
    });
</script>
<div class="bridge-title">
    숙소목록
</div>
<div class="bridge-content">
    <div class="bridge-search-container">
        <div class="bridge-btn place-setting-btn" data-index="0">등록</div>
    </div>
    <table cellspacing="0" cellpadding="0" class="bridge-horizon-table bridge-horizon-table-hover">
        <thead>
            <tr>
                <th class="vertical-middle">숙소명</th>
                <th class="vertical-middle">주소</th>
                <th class="vertical-middle">등록일자</th>
                <th class="vertical-middle">설정</th>
            </tr>
        </thead>
        <tbody>
            <?
                if(count($lists) > 0){
                    for($i=0; $i< count($lists); $i++){
            ?>
                <tr>
                    <td class="text-center vertical-middle"><?=$lists[$i]['place_site_name'] ?></td>
                    <td class="text-center vertical-middle"><?=$lists[$i]['place_site_address'] ?> <?=$lists[$i]['place_site_addressDetail'] ?></td>
                    <td class="text-center vertical-middle"><?=date('Y.m.d', strtotime($lists[$i]['place_site_regDate'])) ?></td>
                    <td class="text-center vertical-middle">
                        <div class="bridge-btn place-setting-btn" data-index="<?=$lists[$i]['place_site_index'] ?>">수정</div>
                        <div class="bridge-btn room-setting-btn" data-index="<?=$lists[$i]['place_site_index'] ?>">객실</div>
                        <div class="bridge-btn price-setting-btn" data-index="<?=$lists[$i]['place_site_index'] ?>">가격</div>
                    </td>
                </tr>
            <?
                    }
                }else{
            ?>
                <tr>
                    <td colspan="4">
                        숙소를 등록해 주세요
                    </td>
                </tr>
            <?  } ?>
        </tbody>
    </table>
</div>
<script src="//dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=47bb885814193c5cbd870af6ec05b46a&libraries=services"></script>
<script>
    var lon = 126.570667;
    var lat = 33.450701;
    var geocoder = new daum.maps.services.Geocoder();
    var map;

    function mapSettings(){
        var mapContainer = document.getElementById('addressMaps'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(lat, lon), // 지도의 중심좌표
                draggable: true,
                level: 4, // 지도의 확대 레벨
                size: new daum.maps.Size($('#addressMaps').width(), 220)
            };

        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도 중심을 이동 시킵니다
        var moveLatLon = new daum.maps.LatLng(lat, lon);
        map.setCenter(moveLatLon);

        // 마커를 생성합니다
        var markerPosition  = new daum.maps.LatLng(lat, lon);
        var marker = new daum.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        map.relayout();
    }

    function daumAddressSearch() {
        var element_wrap = document.getElementById('addressSearchLayer');
        var addressSearchTheme = {
            bgColor: "#FFFFFF", //바탕 배경색
            //searchBgColor: "", //검색창 배경색
            //contentBgColor: "", //본문 배경색(검색결과,결과없음,첫화면,검색서제스트)
            pageBgColor: "#FFFFFF", //페이지 배경색
            //textColor: "", //기본 글자색
            //queryTextColor: "", //검색창 글자색
            //postcodeTextColor: "", //우편번호 글자색
            //emphTextColor: "", //강조 글자색
            outlineColor: "#EEEEEE" //테두리
        };


        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            theme: addressSearchTheme,
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("address").value = extraAddr;

                } else {
                    document.getElementById("address").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zip').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addressDetail").focus();

                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용
                        lat = result.y;
                        lon = result.x;
                        document.getElementById("latitude").value = result.y;
                        document.getElementById("longitude").value = result.x;
                        mapSettings();
                    }
                });

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = parseInt($('.bridge-places-body').height())+"px";
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>