<form id="setForm">
    <input type="hidden" name="itemTypeIndex" id="itemTypeIndex" value="<?=$info['item_type_index'] ?>" />
    <input type="hidden" name="itemPriceIndex" id="itemPriceIndex" value="<?=$info['item_price_index'] ?>" />
    <input type="hidden" name="type" id="type" value="<?=$info['item_price_type'] ?>" />
    <table cellspacing="0" cellpadding="0" class="bridge-vertical-table">
        <tr>
            <th>시작일</th>
            <td>
                <input type="text" name="start" id="start" class="input datepicker" value="<?=$info['item_price_start'] ?>" placeholder="시작일" />
            </td>
            <th>종료일</th>
            <td>
                <input type="text" name="end" id="end" class="input datepicker" value="<?=$info['item_price_end'] ?>" placeholder="종료일" />
            </td>
        </tr>
        <tr>
            <th>월요일</th>
            <td>
                <input type="text" name="mon" id="mon" class="input price" value="<?=$info['item_price_mon'] ?>" placeholder="" />
            </td>
            <th>화요일</th>
            <td>
                <input type="text" name="tue" id="tue" class="input price" value="<?=$info['item_price_tue'] ?>" placeholder="" />
            </td>
        </tr>
        <tr>
            <th>수요일</th>
            <td>
                <input type="text" name="wen" id="wen" class="input price" value="<?=$info['item_price_wen'] ?>" placeholder="" />
            </td>
            <th>목요일</th>
            <td>
                <input type="text" name="thu" id="thu" class="input price" value="<?=$info['item_price_thu'] ?>" placeholder="" />
            </td>
        </tr>
        <tr>
            <th>금요일</th>
            <td>
                <input type="text" name="fri" id="fri" class="input price" value="<?=$info['item_price_fri'] ?>" placeholder="" />
            </td>
            <th>토요일</th>
            <td>
                <input type="text" name="sat" id="sat" class="input price" value="<?=$info['item_price_sat'] ?>" placeholder="" />
            </td>
        </tr>
        <tr>
            <th>일요일</th>
            <td>
                <input type="text" name="sun" id="sun" class="input price" value="<?=$info['item_price_sun'] ?>" placeholder="" />
            </td>
            <th>인원추가</th>
            <td>
                <input type="text" name="add" id="add" class="input price" value="<?=$info['item_price_add'] ?>" placeholder="" />
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            minDate: '-1m', // 현재날짜로부터 100년이전까지 년을 표시한다.
            nextText: '다음 달', // next 아이콘의 툴팁.
            prevText: '이전 달', // prev 아이콘의 툴팁.
            showButtonPanel: true, // 캘린더 하단에 버튼 패널을 표시한다.
            currentText: '오늘 날짜' , // 오늘 날짜로 이동하는 버튼 패널
            closeText: '닫기',  // 닫기 버튼 패널
            dateFormat: "yy-mm-dd", // 텍스트 필드에 입력되는 날짜 형식.
            showMonthAfterYear: true , // 월, 년순의 셀렉트 박스를 년,월 순으로 바꿔준다.
            dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], // 요일의 한글 형식.
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] // 월의 한글 형식.
        });
    });
</script>