<script type="text/javascript">
    $(document).ready(function(){
        $('.bridge-popup-btn').click(function(){
            if($(this).hasClass('cancel')){
                $('.bridge-popup-container').hide();
                $('.bridge-bg-layer').hide();
            }else{
                var index = "<?=$place['place_site_index'] ?>";
                var itemType = parseInt($('#setForm').find('#itemTypeIndex').val());
                var itemPrice = parseInt($('#setForm').find('#itemPriceIndex').val());

                var url = "/places/"+index+"/price/"+itemType+"/info/"+itemPrice;
                var method = "POST";
                if(itemPrice > 0){
                    method = "PATCH";
                }

                $.ajax({
                    type: method,
                    url: url,
                    data: $('#setForm').serialize(),
                    complete: function(event){
                        if(event.status == 204){
                            alert('저장');
                            location.reload();
                        }else{
                            alert("["+event.statusText+"] 에러");
                            return false;
                        }
                    }
                });
            }
        });

        $('#priceType').change(function(){
            $('#typeForm').submit();
        });
    });

    $(document).on('click', '.price-setting-btn', function(){
        var index = "<?=$place['place_site_index'] ?>";
        var itemTypeIndex = $(this).attr('data-type-index');
        var priceIndex = $(this).attr('data-index');
        var priceType = '<?=$priceType ?>';
        var url = "/places/"+index+"/price/"+itemTypeIndex+"/info/"+priceIndex+"?priceType="+priceType;
        $.ajax({
            type: "GET",
            url: url,
            complete: function(event){
                if(event.status == 200){
                    $('.bridge-popup-header').text('가격');
                    $('.bridge-popup-body').html(event.responseText);
                    $('.bridge-popup-container').show();
                    $('.bridge-bg-layer').show();
                    $('.bridge-popup-body').css({'padding-bottom': $('.bridge-popup-footer').height()+15});
                }else{
                    alert("["+event.statusText+"] 에러");
                    return false;
                }
            }
        });
    });
</script>
<style>
    .bridge-price-content { width:90%; margin:0px auto; position:relative; margin-top:12px; }
    .bridge-room-content .bridge-room-layer { margin:0px auto; width:100%; position:relative; padding:15px 0px; cursor:pointer; }
    .bridge-room-content .bridge-room-layer:hover { background-color:#F1F1F1; }
    .bridge-room-content .bridge-room-layer .bridge-room-name { font-size:11pt; color:#333; display:inline-block; }
    .bridge-room-content .bridge-room-layer:hover .bridge-room-name { text-decoration:underline; }
    .bridge-room-content .bridge-room-layer .bridge-room-info { font-size:11pt; color:#333; margin-top:5px; }
</style>
<div class="bridge-title">
    <?=$place['place_site_name'] ?> - 가격
</div>
<div class="bridge-content">
    <table cellspacing="0" cellpadding="0" class="bridge-horizon-table">
        <thead>
            <tr>
                <th class="vertical-middle">객실타입</th>
                <th class="vertical-middle">
                    <form name="typeForm" id="typeForm" method="get" action="">
                        <select name="priceType" id="priceType" class="input half" style="width:auto;">
                            <?
                                $typeArray = array('T' => '대실', 'S' => '숙박');
                                $options = "";
                                foreach($typeArray as $key => $val){
                                    $options .= '<option value="'.$key.'"';
                                    if($key == $priceType){
                                        $options .= " selected";
                                    }
                                    $options .= ' >'.$val.'</option>';
                                }

                                echo $options;
                            ?>
                        </select>
                    가격
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            <? for($i=0; $i< count($type); $i++){ ?>
                <tr>
                    <td class="vertical-middle">
                        <?=$type[$i]['item_type_name'] ?>
                    </td>
                    <td class="vertical-top" id="bridge-price-<?=$type[$i]['item_type_index'] ?>">
                        <table cellpadding="0" cellspacing="0" class="bridge-horizon-table">
                            <thead>
                                <tr>
                                    <th>기간</th>
                                    <th>월</th>
                                    <th>화</th>
                                    <th>수</th>
                                    <th>목</th>
                                    <th>금</th>
                                    <th>토</th>
                                    <th>일</th>
                                    <th>
                                        <div class="bridge-btn bridge-btn-sm price-setting-btn" data-type-index="<?=$type[$i]['item_type_index'] ?>" data-index="0" >등록</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <?
                                    if(isset($price[$type[$i]['item_type_index']])){
                                        $priceLists = $price[$type[$i]['item_type_index']];
                                        for($j=0; $j< count($priceLists); $j++){
                                ?>
                                <tr>
                                    <td><?=date('Y.m.d', strtotime($priceLists[$j]['item_price_start'])) ?> ~ <?=date('Y.m.d', strtotime($priceLists[$j]['item_price_end'])) ?></td>
                                    <td><?=number_format($priceLists[$j]['item_price_mon']) ?>원</td>
                                    <td><?=number_format($priceLists[$j]['item_price_tue']) ?>원</td>
                                    <td><?=number_format($priceLists[$j]['item_price_wen']) ?>원</td>
                                    <td><?=number_format($priceLists[$j]['item_price_thu']) ?>원</td>
                                    <td><?=number_format($priceLists[$j]['item_price_fri']) ?>원</td>
                                    <td><?=number_format($priceLists[$j]['item_price_sat']) ?>원</td>
                                    <td><?=number_format($priceLists[$j]['item_price_sun']) ?>원</td>
                                    <td>
                                        <div class="bridge-btn bridge-btn-sm price-setting-btn" data-type-index="<?=$type[$i]['item_type_index'] ?>" data-index="<?=$priceLists[$j]['item_price_index'] ?>" >수정</div>
                                    </td>
                                </tr>
                                <?
                                        }
                                    }
                                ?>
                            </tbody>
                        </table>
                    </td>
                </tr>
            <? } ?>
        </tbody>
    </table>
</div>