<form id="setForm">
    <input type="hidden" name="itemTypeIndex" id="itemTypeIndex" value="<?=$info['item_type_index'] ?>" />
    <input type="hidden" name="itemIndex" id="itemIndex" value="<?=$info['item_info_index'] ?>" />
    <input type="hidden" id="itemSetFlag" value="1" />
    <table cellspacing="0" cellpadding="0" class="bridge-vertical-table">
        <tr>
            <th>객실명</th>
            <td>
                <input type="text" name="name" id="name" class="input" value="<?=$info['item_info_name'] ?>" placeholder="객명" />
            </td>
        </tr>
    </table>
</form>