<div class="bridge-btn room-setting-btn" data-type-index="<?=$roomTypeIndex ?>" data-index="0">객실 추가</div>
<div class="bridge-room-content">
    <? for($i=0; $i< count($room); $i++){ ?>
        <div class="bridge-room-layer">
            <div class="bridge-room-name"><?=$room[$i]['item_info_name'] ?></div>
            <div class="bridge-room-info">
                <div class="bridge-btn bridge-btn-sm room-setting-btn" data-type-index="<?=$roomTypeIndex ?>" data-index="<?=$room[$i]['item_info_index'] ?>">수정</div>
                <div class="bridge-btn bridge-btn-sm room-delete-btn" data-type-index="<?=$roomTypeIndex ?>" data-index="<?=$room[$i]['item_info_index'] ?>">삭제</div>
            </div>
        </div>
    <? } ?>
</div>