<form id="setForm">
    <input type="hidden" name="itemTypeIndex" id="itemTypeIndex" value="<?=$info['item_type_index'] ?>" />
    <table cellspacing="0" cellpadding="0" class="bridge-vertical-table">
        <tr>
            <th>객실 타입명</th>
            <td>
                <input type="text" name="name" id="name" class="input" value="<?=$info['item_type_name'] ?>" placeholder="객실 타입명" />
            </td>
        </tr>
    </table>
</form>