<form name="bookingForm" id="bookingForm">
    <input type="hidden" name="booking_index" id="booking_index" value="<?=$info['booking_info_index'] ?>" />
    <input type="hidden" name="place_site_index" id="place_site_index" value="<?=$info['place_site_index'] ?>" />
    <table cellpadding="0" cellspacing="0" class="bridge-booking-table">
        <tr>
            <th>예약</th>
            <td>
                <select class="input half" name="route">
                    <?
                        $options = "";
                        for($i=0; $i< count($route); $i++){
                            $options .= '<option value="'.$route[$i]['booking_route_index'].'"';
                            if($info['booking_route_index'] == $route[$i]['booking_route_index']){
                                $options .= " selected ";
                            }
                            $options .= ">".$route[$i]['booking_route_name']."</option>";
                    }
                    echo $options;
                    ?>
                </select>
                <select class="input half" name="type" id="type">
                    <?
                        $options = "";
                        foreach($config['type'] as $key => $val){
                            $options .= '<option value="'.$key.'"';
                            if($info['booking_info_type'] == $key){
                                $options .= " selected ";
                            }
                            $options .= ">".$val."</option>";
                        }
                        echo $options;
                    ?>
                </select>
            </td>
            <th>방문형태</th>
            <td>
                <select class="input" name="traffic">
                    <?
                        $options = "";
                        foreach($config['traffic'] as $key => $val){
                    $options .= '<option value="'.$key.'"';
                    if($info['booking_info_traffic'] == $key){
                    $options .= " selected ";
                    }
                    $options .= ">".$val."</option>";
                    }
                    echo $options;
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <th>결제정보</th>
            <td>
                <select class="input" name="method">
                    <?
                        $options = "";
                        foreach($config['method'] as $key => $val){
                    $options .= '<option value="'.$key.'"';
                    if($info['booking_info_method'] == $key){
                    $options .= " selected ";
                    }
                    $options .= ">".$val."</option>";
                    }
                    echo $options;
                    ?>
                </select>
            </td>
            <th>예약상태</th>
            <td>
                <select class="input" name="state">
                    <?
                        $options = "";
                        foreach($config['state'] as $key => $val){
                    $options .= '<option value="'.$key.'"';
                    if($info['booking_info_type'] == $key){
                    $options .= " selected ";
                    }
                    $options .= ">".$val."</option>";
                    }
                    echo $options;
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <th>체크인</th>
            <td>
                <input type="text" name="checkin" id="checkin" class="input datetimepicker" value="<?=$info['booking_info_checkin'] ?>" readonly />
            </td>
            <th>체크아웃</th>
            <td>
                <input type="text" name="checkout" id="checkout" class="input datetimepicker" value="<?=$info['booking_info_checkout'] ?>" readonly />
            </td>
        </tr>
        <tr>
            <th>객실타입</th>
            <td>
                <select class="input itemTypeSelect" name="typeIndex">
                    <option value="0">객실타입</option>
                    <?
                        $options = "";
                        for($i=0; $i< count($itemType); $i++){
                            $options .= '<option value="'.$itemType[$i]['item_type_index'].'"';
                            if($info['item_type_index'] == $itemType[$i]['item_type_index']){
                                $options .= " selected ";
                            }
                            $options .= ">".$itemType[$i]['item_type_name']."</option>";
                        }
                        echo $options;
                    ?>
                </select>
            </td>
            <th>객실</th>
            <td>
                <select class="input itemSelect" name="itemIndex">
                    <option value="0">객실</option>
                    <?
                        $options = "";
                        for($i=0; $i< count($item); $i++){
                            $options .= '<option value="'.$item[$i]['item_info_index'].'"';
                            if($info['item_info_index'] == $item[$i]['item_info_index']){
                                $options .= " selected ";
                            }
                            $options .= ">".$item[$i]['item_info_name']."</option>";
                    }
                    echo $options;
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                <input type="text" name="name" class="input" value="<?=$info['booking_info_name'] ?>" placeholder="홍길동" />
            </td>
            <th>연락처</th>
            <td>
                <input type="text" name="mobile" class="input mobile" value="<?=$info['booking_info_mobile'] ?>" placeholder="010-1234-1234" />
            </td>
        </tr>
        <tr>
            <th>계약금</th>
            <td>
                <input type="text" name="contractPrice" id="contractPrice" class="input price" value="<?=number_format($info['booking_info_contractPrice']) ?>" placeholder="0" />
            </td>
            <th>결제금액</th>
            <td>
                <input type="text" name="payPrice" id="payPrice" class="input price" value="<?=number_format($info['booking_info_payPrice']) ?>" placeholder="0" />
            </td>
        </tr>
        <tr>
            <th>메모</th>
            <td colspan="3">
                <textarea name="request" class="textarea" rows="4"><?=$info['booking_info_request'] ?></textarea>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            lang:'kr',
            format:'Y-m-d H:i',
            startDate:	'<?=date("Y-m-d") ?>',
            step: 30
        });
        $.datetimepicker.setLocale('kr');

        $('.itemTypeSelect').change(function(){
            var index = $('#place_site_index').val();
            var typeIndex = $(this).val();
            var checkin = encodeURIComponent($('#checkin').val());
            var checkout = encodeURIComponent($('#checkout').val());
            var type = $('#type').val();

            var url = "/booking/"+index+"/room/"+typeIndex+"?checkin="+checkin+"&checkout="+checkout+"&type="+type;
            $.ajax({
                type: "GET",
                url: url,
                complete: function(data){
                    if(data.status == 200){
                        var room = $.parseJSON(data.responseText);
                        var options = '<option value="0" data-price="0">객실 선택</option>';
                        for(var i=0; i< room.length; i++){
                            options += '<option value="'+room[i]['index']+'" data-price="'+room[i]['price']+'">'+room[i]['name']+'</option>';
                        }
                        $('.itemSelect').html(options);
                    }else{
                        alert("["+data.statusText+"] 에러");
                        return false;
                    }
                }
            });
        });

        $('.itemSelect').change(function(){
            var price = parseInt($(this).find('option:selected').attr('data-price'));
            var contractPrice = parseInt($('#contractPrice').val());
            var payPrice = price-contractPrice;

            $('#payPrice').val(number_format(payPrice));
        });
    });
</script>